*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    display: flex;
    padding: 0px 240px 168px 135px;
}
header h3{
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #161515;
    margin: 104px 0px 53px;

}
header h1{
    font-family: "League Spartan", sans-serif;
    font-size: 250px;
    font-weight: 300;
    line-height: 230px;
    letter-spacing: 0em;
    text-align: left;
    color:#272727;
    margin-bottom: 43px;

}
header p{
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #161515;
    margin-bottom: 61px;
}
button{
    background-color: black;
    /* padding: 26px 74px 35px 73px; */
    color: white;
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}
span{
    padding: 13px 27px 31px 28px;
    background-color: #FFFFFF;
    width: 143px;

    box-shadow: 0px 0px 28px 0px #D6D6D640;
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color:#272727;
    
}

.popular{
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color:#000000 ;
    margin:43px 648px 0px 621px; 
}
.models{
    font-family: "League Spartan", sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    margin: 0px 591px 84px 564px ;

}
.section_img{
    padding: 110px 60px 110px 71px ;
    background-color:#F8F8F8;
    margin: 0px 512px 67px 511px;

}
section h2{
    margin: 0px 579px 17px 576px;
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

}
.son22{
    margin: 0px 455px 85px 454px ;
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}
section p{
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #161515;

}
.section_img1{
    padding: 65px 2px 65px 2px ;
    background-color: #F8F8F8;
    margin: 0px 472px 67px 472px ;
    
}
.sw12{
    margin: 0px 465px 59px 465px;

}
h2{
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color:#161515 ;
    margin: 0px 234px 9px 234px;

}
hr{
    border: 1px solid #707070;
    margin: 0px 631px 49px 631px;
    
}
.p1{
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    color: #161515 ;
    margin: 0px 461px 142px 464px;

}
a{
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-weight: 500px;
    line-height: 41px;
    letter-spacing: 0em;
    color: rgb(171, 111, 42);
    text-align: center;    
}

